@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@100&display=swap');

.about {
  font-family: 'M PLUS 1p', sans-serif;
}

.header {
  font-family: 'M PLUS 1p', sans-serif;
}

.header2BOI {
  font-family: 'M PLUS 1p', sans-serif;
}

.FizzyFox {
  font-family: MPLUSThicc;
}

.latestvids {
  font-family: MPLUS;

}

body {
  background-color:cyan;
}

* {
  text-align: center;
}

footer {
    font-family: MPLUS;
}
